/* Configuraciones generales */

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #707070;
    margin: 0;
    padding:0;
  }

a:hover{
    color: goldenrod;
    }

/* Header */

.background{
  background-image: 
  url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width:100%;
  height:100%;
}

h1{
margin: 0;
padding: 5rem 0 0 0;
font-size:80px;
}

h5{padding:5rem 0 0 0}

.background{
  text-align:center;
  vertical-align: middle;
  color:white;
}

/* Trabajos realizados */

.card-body{color:#707070}

.card-body p{
  font-weight:300}

  /* Formulario */

  #Contacto{
    color:#707070
  }

